{% extends 'main/base.html' %}

{% block content %}
<div class="parallax-section">
</div>

<div class="intro">
        <div class="container">
            <div class="intro__inner">
                <div class="tagline">
                    <div class="image-container">
                        <div class="slider__line">
                            <img src="../../static/images/IMG_gr1.jpg" class="slider__img" alt="">
                            <img src="../../static/images/IMG_gr2.png" class="slider__img" alt="">
                            <img src="../../static/images/IMG_gr3.jpg" class="slider__img" alt="">
                            <img src="../../static/images/IMG_gr4.jpg" class="slider__img" alt="">
                        </div>
                        <button class="slider__btn-prev">&#10148;</button>
                        <button class="slider__btn-next">&#10148;</button>

                    </div>
                    <script src="../../static/js/script.js"></script>
                <h2 class="tagline__text">
                    Intelligent Tool
                    <br>Management
                </h2>
            </div>
        </div>
        <div class="main">
            <div class="content">
                <h1 id="about">Über uns</h1>
                <p id="about__content">Tooling ITM-Projekt GmbH <br><br>

                    Engineering-Unternehmen im Bereich der Metallbearbeitung. Unsere Tätigkeit ist Export von
                    europäischen Technologien, hauptsächlich aus Deutschland, Österreich, Schweiz nach
                    Industriewerke der eurasischen Wirtschaftsunion. <br><br>

                    Außerdem sind wir mit Optimierungen der vorhandenen Technologien beschäftigt. Es geht hier
                    um Lieferung von metalzerspanenden Werkzeugen, Ausrüstung, Maschinen und deren Einsatz,
                    Projekt-Management, technische Beratung und Schulung. <br><br>

                    Als kompetenter und erfahrener Partner unterstützen wir Sie bei der Optimierung Ihrer
                    Prozesse und sehen Ihre Anwendungen als interessante Herausforderung. Sie finden uns als
                    zuverlässigen Partner und Lieferanten.<br><br>

                    Tooling ist… <br><br>

                    …eine starke Name

                    Trotz der jungen Firmengeschichte konnte sich Tooling gegen seine Konkurrenten am Markt
                    behaupten und ist nun eines der mächtigsten Unternehmen im Bereich Präzisionswerkzeuge in
                    Weißrussland. Grund dafür ist zum einen die herausragende Qualität der eigenen Mitarbeiter
                    bei der Erstellung neuer Produkte und zum anderen die jahrelange Erfahrung in der
                    Zusammenarbeit mit führenden deutschen Herstellern von Präzisionswerkzeugen.


                </p>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}
